html, body{
  overflow-x: hidden;
}

* {
  transition: all 0.2s ease-in;
}

.hover-effect-1:hover {
  /* background-color: hsla(39, 99%, 49%, 0.2) !important; */
  color: rgba(231, 150, 0, 0.973) !important;
}

.hover-effect-2:hover {
  /* background-color: hsla(39, 99%, 49%, 0.2) !important; */
  background-color: hsla(39, 81%, 59%, 0.2) !important;
}

.hover-effect-3:hover{
  color: #212529 !important;
}

.card-product-item:hover a {
  color: rgba(231, 150, 0, 0.973);
}

.card-label-duration {
  position: absolute;
  padding: 5px 8px;
  top: 5px;
  left: 0;
  background-color: #F84147;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
}

.old-price-dr {
  text-decoration: line-through;
  color: #F84147;
}

/* Добавь в свой CSS файл или <style> */
.sidebar-wrapper {
  position: relative;
  transition: all 0.2s ease-in;
}

.sidebar-fixed-bottom {
  position: fixed;
  bottom: 0;
  top: auto !important;
  z-index: 1000;
}

.truncated-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Ограничение в 2 строки */
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

textarea {
  resize: none !important;
  height: 100px;
}

@media (max-width: 580px) {
            .dropdown-menu {
                max-height: 70vh;
                /* ограничиваем высоту */
                overflow-y: auto;
                /* включаем вертикальную прокрутку */
                overflow-x: hidden;
            }

            .dropdown-menu .row {
                flex-direction: column;
                /* колонки идут вертикально */
            }

            .dropdown-menu .col {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }